*{margin:0;padding:0;box-sizing:border-box;}
li{list-style:none;}
a{text-decoration:none; color:#333}
#wrap{width:1000px;margin: 0 auto;}
#header{width:1000px;height:150px;}
#header2{width:1000px;height:100px;float:left;line-height:100px;position:relative;}
#login{width:352px;height:100px;float:right;}
#home, #sign_in, #sign_up{float:left;}
#home>a, #sign_in>a, #sign_up>a{border:1px solid #E6E6E6;padding:5px;margin-right:5px;}
#home a:hover {color:#E6E6E6;}
#search{height:40px;}
.btn{width:40px;height:40px;float:right;margin-top:32px}
/*로그인페이지*/
#loginPage{width:500px;height:500px;position:fixed;margin-top:100px;margin-left:250px;z-index:5;background-color:white;display:none;}
.loginHeader{width:500px;height:50px;margin-bottom:30px;}
#loginPage form{width:500px;height:300px;}
.loginHeader h1{width:200px;float:left;margin-left:150px;text-align:center;}
#loginPage dl{width:350px;height:50px;margin:0 auto; margin-bottom:10px;}
#loginPage input{width:196px;height:30px;}
#loginPage dd{width:200px;height:50px;float:left;line-height:50px;}
#loginPage dt{width:150px;height:50px;clear:left;float:left;line-height:50px;}
#login_exit{width:50px;height:50px;float:right;clear:right;}
#signup_exit{width:50px;height:50px;float:right;clear:right;}
.sign_ok{width:100px;height:50px;border:0;background-color:#08298A;color:white;font-size:20px;}
.ok_button{width:500px;height:50px;margin-top:50px;text-align:center;}
/*회원가입페이지*/
#sign_upPage{width:500px;height:500px;position:fixed;margin-top:100px;margin-left:250px;z-index:5;background-color:white;display:none;}
#sign_upPage form{width:500px;height:300px;}
#sign_upPage dl{width:350px;height:50px;margin:0 auto;margin-bottom:10px;}
#sign_upPage input{width:196px;height:30px;}
#sign_upPage dd{width:200px;height:50px;float:left;line-height:50px;}
#sign_upPage dt{width:150px;height:50px;clear:left;float:left;line-height:50px;}
/*헤더탑링크*/
#logoLogin{width:1000px;height:100px;}
#header_top_linkWrap{width:470px;height:50px;float:right;}
#header_top_link{width:210px;height:50px;float:left;line-height:30px;}
#header_top_link ul{width:200px;height:50px;vertical-align: middle;}
#header_top_link li{width:100px;height:30px;float:left;text-align:center;font-size:13px;border:1px solid #A4A4A4;vertical-align: middle;margin-top:10px;}
#mainSuch{width:250px;height:50px;float:left;}
#mainSuch form{width:250px;height:50px;line-height:50px;float:left;}
#such{height:36px;float:left;margin-top:7px;}
#suchImage{margin-top:7px;float:left;}
#login:hover{color:blue;}
#sign_up:hover{color:blue;}
/*menu*/
#menu{width:1000px;height:50px;}
#menu>ul>li{width:200px;height:50px;float:left;text-align:center;line-height:50px;background-color:#E9E9E9;}
#menu>ul>li>ul{height:0;overflow:hidden;}
#menu>ul:hover ul{height:250px;transition:0.5s;z-index:100;}
#menu a:hover{color:#5882FA;}
#menu>ul:hover ul li{background-color:#E9E9E9;}
input{position:absolute;margin-top:30px;}
/*slide*/
#slide{width:1000px;height:500px;position:relative;overflow:hidden;z-index:-12123;}
#slide img{width:1000px;height:600px;position:absolute;left:-100%;}
#slide img:first-child{left:0px;z-index:1;}
/*slide_nav*/
#slide_nav{width:150px;height:50px;position:absolute;margin:450px 0 0 425px;}
.nav{width:25px;height:25px;border-radius:50%;float:left;background:white;margin:12px;}
/*main*/
main{width:1000px;height:500px;background-color:#EBEBEB;padding:15px;}
table{width:584px;float:left;margin:0 auto;}
table tr{width:584px;height:115px;}
table th{width:380px;float:left;}
table th a{float:left;}
table td{width:104px;float:right;}
#notice{overflow:hidden;width:645px;position:absolute;background-color:#fff;}
#h_notice{height:0;width:645px;overflow:hidden;position:absolute;background-color:#fff;}
table>p{font-size:10px;float:right;}
.notice{margin-left:15px;float:left;width:150px;line-height:30px;background-color: #fff;}
.notice:hover{color:#5882FA;}
.h_notice{float:left;width:150px;line-height:30px;background-color: #fff;}
.h_notice:hover{color:#5882FA;}
table a:hover{color:#5882FA;}
#area_button{width:500px;height:50px;}
#area_button>button{border:none;line-height:50px;}
#area{width:645px;background-color:#fff;}
/*map*/
#map{width:200px;height:0px;margin-top:125px;}
/*popup*/
#popup{float:right;width:310px;height:400px;margin-top:-150px;margin-right:20px;}
#popup img{left: 20px;top: 10px;position: relative;width: 310px;height: 400px;}
.popup{height: 887px;z-index: 150;position: fixed;top: 0;left: 0;display: none;background: #ffffff;}
#shadow{opacity: .35;z-index: 110;position: fixed;width: 0;height: 0;background: #000;}
/*waist*/
#waist{margin:20px 0 20px 0;width:1000px; overflow: hidden;height:50px;background-color:#EBEBEB;}
#waist>img{width:130px;float:left;height:50px;left:-130px;margin-left:10px;}
waist>img:first-child{left:0px;}
/*footer*/
footer{width:1000px;height:100px;background-color: #DEDEDE;}
footer>img{position:absolute;}
footer>div{width:1000px;text-align:center;}
footer p{font-size:11px;}